Repository billsioros/RoughML: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements, google-drive

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/roy-ht/pre-commit-jupyter
    rev: v1.2.1
    hooks:
      - id: jupyter-notebook-cleanup
        args:
          - --remove-kernel-metadata
  - repo: https://github.com/mwouts/jupytext
    rev: v1.14.5
    hooks:
    - id: jupytext
      files: ^Nanorough_surface_Super_resolution.ipynb$
      args: [--output, Nanorough_surface_Super_resolution.py]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: debug-statements
  - repo: https://github.com/humitos/mirrors-autoflake.git
    rev: v1.1
    hooks:
      - id: autoflake
        args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.7
    hooks:
      - id: vulture
  - repo: local
    hooks:
      - id: export-requirements
        name: export-requirements
        language: system
        pass_filenames: false
        entry: poetry export --without-hashes -o requirements.txt
        files: ^(pyproject.toml|poetry.lock)$
  - repo: local
    hooks:
      - id: google-drive
        name: google-drive
        entry: bash -c 'poetry build; find dist -name "roughml*.whl" | sort -r | head -1 | xargs cp -t /mnt/g/My\ Drive/Thesis/Binaries/'
        language: system
        types: [python]
        pass_filenames: false

chore: bump `python-semantic-release`
  .github/workflows/cd.yml
Due: none

4.7.1
  CHANGELOG.md
  pyproject.toml
Due: export-requirements

fix: frozen dependencies
  pyproject.toml
Due: export-requirements

4.7.2
  CHANGELOG.md
  pyproject.toml
Due: export-requirements

docs: update the `README`
  .github/workflows/cd.yml
  README.md
Due: none

4.7.3
  CHANGELOG.md
  pyproject.toml
Due: export-requirements

fix: set `torch` to `v1.9.0`
  .pre-commit-config.yaml
  CHANGELOG.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  src/roughgan/cli/train.py
  src/roughgan/content/loss.py
  src/roughgan/data/generators.py
  src/roughgan/shared/decorators.py
Due: export-requirements, google-drive

4.7.4
  CHANGELOG.md
  pyproject.toml
Due: export-requirements

Set default version to latest with mike 1.1.2
  index.html
Due: none

docs: remove `all-contributors` spec
  .editorconfig
  README.md
  docs/CONTRIBUTING.md
Due: none

4.7.5
  CHANGELOG.md
  pyproject.toml
Due: export-requirements

4.7.6
  CHANGELOG.md
  pyproject.toml
Due: export-requirements

fix: revert `relekang/python-semantic-release` update
  .github/workflows/cd.yml
Due: none

4.7.7
  CHANGELOG.md
  pyproject.toml
Due: export-requirements

feat: incorporate `huggingface` spaces
  .dockerignore
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/cd.yml
  Dockerfile
  docker/Dockerfile
  mkdocs.yml
  poetry.lock
  pyproject.toml
  src/roughgan/app.py
  src/roughgan/cli/model.py
  src/roughgan/cli/train.py
Due: export-requirements, google-drive

feat: incorporate `huggingface` spaces
  .dockerignore
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/cd.yml
  Dockerfile
  docker/Dockerfile
  docs/src/roughgan.ipynb
  mkdocs.yml
  poetry.lock
  pyproject.toml
  src/roughgan/app.py
  src/roughgan/cli/model.py
  src/roughgan/cli/train.py
Due: export-requirements, google-drive

docs(license): update copyright year(s)
  LICENSE
Due: none

4.7.8
  CHANGELOG.md
  pyproject.toml
Due: export-requirements

4.7.9
  CHANGELOG.md
  pyproject.toml
Due: export-requirements
